body {
  background-color: black;
  color: white;
  font-family: arial;
}

.center {
  text-align: center;
}

hr {
  border-color: gray;
  margin: 3% 0;
}

.std-margin {
  margin-bottom: 1%;
  margin-left: 3%;
}

.hide {
  display: none;
}
